.uri {
    width: 90%;
}
.title {
    width: 200px;
}

.folder {
    width: 200px;
}

#reload {
    width: 60px;
}

.resline {
    padding-top: 10px;
}

div {
    padding-bottom: 5px;
}

#form {
    overflow: hidden;
    clear: both;
    padding-left: 10px;
}

.actions {
    width: 100%;
    padding-top: 10px;
    text-align: right;
}

.main {
    font-weight: bold;
    padding-right: 5px;
    padding-left: 10px;
}

.hr {
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 10px;
} 
