body {
    background-color: #c7cdd1;
}

#content {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.85em;
    min-width: 350px;
}

#logo {
    float: left;
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#title {
    display: block;
    text-align: left;
    height: 42px;
    padding-top: 10px;
    margin-left: 55px;
}

#name {
    font-size: 1.6em;
    font-weight: bold;
}

.hr {
    width: 95%;
    text-align: center; 
    border-bottom: 1px solid rgb(136, 136, 136); 
    line-height: 0.1em;
    margin: 10px 10px 10px 10px;
 } 
.hr span { 
    background:#c7cdd1;
    padding-left: 5px;
    padding-right: 5px;
}



.area {
    overflow: hidden;
    clear: both;
    padding-left: 20px;
}

#release {
    color:dimgray;
    font-size: 0.8em;
}

#local {
    padding-top: 10px;
}

#remote {
    padding-top: 5px;
    color: rgb(187, 150, 1);
}

#msg {
    padding-top: 5px;
}

.error {
    color: rgb(117, 3, 3);
}

.dirty {
    color: rgb(187, 150, 1);
}

.actions {
    padding-top: 20px;
    padding-bottom: 10px;
    float: right;
}
