#content {
    margin: 10px;
    min-width: 350px;
}

#logo {
    float: left;
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#title {
    display: block;
    text-align: left;
    height: 42px;
    padding-top: 10px;
    margin-left: 55px;
}

#name {
    font-size: 1.6em;
    font-weight: bold;
}

#banner {
    padding-bottom: 15px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    color:rgb(136, 136, 136); 
    display: flex;
    flex-direction: row;
}
h4:before, h4:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(136, 136, 136); 
    line-height: 0.1em;
    margin: auto;
}
h4:before {
    margin-left: 10px;
    margin-right: 10px;
}
h4:after {
    margin-left: 10px;
    margin-right: 10px;
}

.area {
    overflow: hidden;
    clear: both;
    padding-left: 20px;
}

#release {
    color:dimgray;
    font-size: 0.8em;
}

#local {
    padding-top: 10px;
}

#remote {
    padding-top: 5px;
    color: rgb(187, 150, 1);
}

#msg {
    padding-top: 5px;
}

.error {
    color: rgb(117, 3, 3);
}

.dirty {
    color: rgb(187, 150, 1);
}

.actions {
    padding-top: 20px;
    padding-bottom: 10px;
    float: right;
}

.detail {
    padding-left: 10px;
    font-size: 0.8em;
}

.state-icon {
    vertical-align: middle;
    width: 12px;
    height: 12px;
}